services:
  overr-syncerr:
    image: gsariev/overr-syncerr:latest
    container_name: overr-syncerr

    ports:
      - "8089:8089"

    volumes:
      - /mnt/user/appdata/overr-syncerr:/config
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/user/data/media/movies/1080p:/mnt/movies
      - /mnt/user/data/media/tv/1080p:/mnt/tv

    restart: unless-stopped
